addons:
  firefox: "49.0"
os:
- linux
services:
- docker
language: node_js
node_js:
- 4.5.0
jdk:
- oraclejdk8
cache:
  directories:
  - node_modules
  - "$HOME/.m2"
  - "$HOME/.gradle"
  - "$HOME/app/node_modules"
  - "$HOME/app/node"
env:
  global:
  - PROFILE=dev
  - RUN_APP=1
  - PROTRACTOR=0
  - JHIPSTER_TRAVIS=$TRAVIS_BUILD_DIR/travis
  - JHIPSTER_INSTALL=$JHIPSTER_TRAVIS/install
  - JHIPSTER_SAMPLES=$JHIPSTER_TRAVIS/samples
  - JHIPSTER_SCRIPTS=$JHIPSTER_TRAVIS/scripts
  - secure: Wqgb7NW9bfyonn3LsfScTfd6Ku2ONSKvgv2W56UZuuCQXTvc7+lBZFr115bNpdtGtDOQ8fZa92jIvluEkzR8BcymqITQysk2cTuc7RQpRdH3O5VKiUjhrTk9FIuIfHIWB7c7kej9Ohlx+UMMuhOFsHeCxjTpgUSeQ8ZlUnsTVoZDnvwCs9KzInHRiVjm/SnVdyQdj/UAweakKiSgnEjOevFP32mDKOOiIrdt9sjs+367JgYyldatqNPEydMr/JP28qOXeCTghbOaRNRI90qVwc6LjTrPLyZ3GMFlZWFR+eq8T/kTZ4E/iPBc8ef6QW8VFYXKI7CEti7w1uwJzQzvOpsmZCBOkcivWDm7xmvFDC4bIbPy/LdSqABlFeyIyK/P+CV5EzI8gNHAznXV8h7PS/zPwPW+Leo7EW5skyWHA6yrKFBRBNQ50MrqZqopR9dDsn6+7vGksEgUtiH/fbvUxLYkc/BazJFVX7G9uGUju8gqqZtqt8BXpFky+Jpv48FlUusxP/2phWu+NcRu+WvK7FoXunBJFss0XdZnd+uOWTVJxd1EHp0LSt2s6lTDWCavNnCB6GJX3N9yGpHbMIFMtg3fevZUrvlQzM315/rZhlBs/5S7CBjLPO6UAZ1COftphGZ4zjtvP0Rib8Z1URJdgFramTygITzPbVrU0+oRsSU=
  - secure: jtu/zsDIRfNL1JlPzmGMjtJTQgkLkU0GbTFTfDIrS1Md5lCzip9rwTju3l5qTdYCaOdNsQpExKVVN5vZ6KpzPmAFX8PwoZRjhbDALrLK7t8oICPwpwKoyLN1OlxBUAQRnzEvnjeyqDq2q3maOD8V3APL51dvfpJWz41btIOmwjVJ+QNpOpuUH5bEeF2bXAVczMfWGw3k/Z++I3TuQICcjKDt0oJEnSKDuHFgTQXuSVE25tArQaJsBmtIWtgXrJycmskOvE3uAPAB5b7hgcHamyNqNFc7ajqVzkJYPeYAdFLZ+/38dYQcng/kiIMUYYF7aOsc+r3kMupNOlld8HH1uL6TVi4eCll8uMMg3bCx8V6/OVzGusHwZ+y/RGzQkWhUOWRwrodxMuMb6SGQBU6QecSDv3p7cADV9Bqc1Z6RFB2RpAOpth4nkfVNs2MqIxWqOUSlHt74HLNLfXX1GznyYTOiyXIA2TFoc8ZYmJaOcMMPHUSon3EqxG9B1Qg4zfQPrmUML4SGRYuyBlPFJYdbMGpG/5cHlYO57DYcIZd75XUDc5ZmLvEvd/wlMT6jx9/pL1J0Lt3yPA4pz5OSXwU22AuIlGrhMkq0nQ4jXQAUUgfrvHLKGXkjNxqBSoGG19uk3oqNNove1zK5BxIgkKyYghJG7A/tQFVGwXnHQ4IHB/s=
  matrix:
  - JHIPSTER=app-default-from-scratch JHIPSTER_NODE_CACHE=0 PROTRACTOR=1
  - JHIPSTER=app-gradle-hazelcast PROTRACTOR=1
  - JHIPSTER=app-noi18n PROTRACTOR=1
before_install:
- sudo /etc/init.d/postgresql stop
- export DISPLAY=:99.0
- sh -e /etc/init.d/xvfb start
- chmod +x $JHIPSTER_INSTALL/02-install-jhipster-stack.sh
- chmod +x $JHIPSTER_INSTALL/03-checkVersion.sh
- chmod +x $JHIPSTER_INSTALL/04-cache.sh
install:
- "$JHIPSTER_INSTALL/02-install-jhipster-stack.sh"
- "$JHIPSTER_INSTALL/03-checkVersion.sh"
- "$JHIPSTER_INSTALL/04-cache.sh"
before_script:
- chmod +x $JHIPSTER_SCRIPTS/01-generate-project.sh
- chmod +x $JHIPSTER_SCRIPTS/02-generate-stormpath.sh
- chmod +x $JHIPSTER_SCRIPTS/03-tests.sh
- chmod +x $JHIPSTER_SCRIPTS/04-run.sh
script:
- "$JHIPSTER_SCRIPTS/01-generate-project.sh"
- "$JHIPSTER_SCRIPTS/02-generate-stormpath.sh"
- "$JHIPSTER_SCRIPTS/03-tests.sh"
- "$JHIPSTER_SCRIPTS/04-run.sh"
